<div class="projectpagecontent">
  <%=image_tag('pickup.png', class: 'projectsshot')%>
  <div class="projectpagetext">
    <h5>Pick Up</h5>
    Pick Up was my final project at DevBootcamp, in which I worked in a team to develop, test, and deploy the final product. It is an app that allows people to participate in on-the-go sporting activities, such as tennis, football, and basketball. Users can either host their own events or search for others to join.
  </div>
</div>