<%= javascript_include_tag 'projects/projectpage.js'%>
<div class="projectpagecontent">
  <%=image_tag('pitbull.png', class: 'projectsshot')%>
  <div class="projectpagetext">
    <h5>Pitbull Roulette</h5>
    <p>
    Someone challenged me to built a Pitbull-related app, and I responded with this nifty item. The purpose of the app is to generate random Pitbull content. The app works through the YouTube API to deliver an neverending aural and visual Pitbull experience. Users can pull up a random Pitbull song with the help of the SoundCloud API. Lastly, Giphy API is there to showcase the rapper (and some dogs) in animated image form. This project mainly allowed me to explore playing with APIs, to mixed success.
    </p>
    <p>
      <%=link_to "Back", root_path, class: "back"%>
    </p>
  </div>
</div>