.project{
  margin: 5px;
  border: 1px solid gray;
}

#projects{
  text-align:center;
}

.imagelabel{
  font-size:30px;
  color: white;
  text-align:center;
  line-height: 140px;
}

#overlay .imagelabel:hover{
  cursor: pointer;
}

.projectsshot{
  float:right;
  height:55%;
  width:55%;
  margin: 5px;
}

.projectpagecontent{
  margin-top:10px;
}

.projectpagetext{
  float:left;
  width:40%;
  margin:5px;
  text-align:center;
}

.projectlink{
  font-weight: bold;
}