.project{
  margin: 5px;
  border: 1px solid gray;
}

#projects{
  text-align:center;
}


.imagelabel{
  font-size:30px;
  color: white;
  text-align:center;
  line-height: 140px;
}

#overlay .imagelabel:hover{
  cursor: pointer;
}