.project{
  margin: 5px;
  border: 1px solid gray;
  width:100%;
}

#projectbanners{
  width:55%;
  float:left;
}

#projecttext{
  float:right;
  width:40%;
}

.imagelabel{
  font-family: "Open Sans";
  font-size:2vw;
  color: white;
  text-align:center;
  line-height: 3em;
}

#overlay .imagelabel:hover{
  cursor: pointer;
}

.projectsshot{
  float:right;
  height:55%;
  width:55%;
  margin: 5px;
}

.projectpagecontent{
  margin-top:10px;
}

.projectpagetext{
  float:left;
  width:40%;
  margin:5px;
}

.projectlink{
  font-weight: bold;
}

.projectheader{
  text-align:center;
}