// Place all the styles related to the website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
  padding: 10px;
  height:100px;
  border-bottom: #D3D3D3 3px solid;
}
.navholder{
  width:50%;
  display:table-cell;
  vertical-align:middle;
}

.icon{
  display:table-cell;
  padding-left:20px;
}

.icon img{
  height:70px;
  width:auto;
}

.name{
  font-size: 1.2em;
  font-family: verdana;
}

.mainimage{
  height:250px;
  width:auto;
  display:inline-block;
  margin:10px;
}

#imagegrid{
  margin-top:20px;
  width:100%;
  min-width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.placeholder{
  height:250px;
  width:250px;
  display:inline-block;
  vertical-align:top;
  margin:10px;
}

.overlay{
  display: block;
  position: absolute;
  background-color: rgba(0, 128, 128, 0.5);
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
}

.imagegreet{
  text-align: center;
  veritcal-align: middle;
}
