<div id="aboutpage">
<%=image_tag("trident.jpg")%>

<p>
My name Justin, and I am a Bay Area native with experience living in New York, Japan, and Australia. I majored in history at Cornell University and was bit by the programming bug in 2015. I decided to attend Dev Bootcamp to build my web development foundation and traverse a meaningful career path. I am passionate about the arts, card games, comics, and building cool things and can be seen spending my time doing all these things. You can also find me breaking things, rooting for dubious sports teams, and brainstorming portmanteaus.
</p>
</div>