<div id="aboutpage">
<%=image_tag("trident.jpg")%>

<p>
My name Justin, and I am a Bay Area native with experience in New York, Japan, and Australia. I majored in history at Cornell University and was bit by the programming bug in 2015. I decided to attend DevBootcamp and start my foundation and career in web development. I am passionate about the arts, Magic: the Gathering, and building cool things and can be seen spending my time doing all three things. You can also find me breaking things, rooting for dubious sports teams, and daydreaming about portmanteaus.
</p>
</div>