<div id="contactbox">
<%=link_to image_tag('github.png', class: 'contactimg'), 'http://www.github.com/juxtaposeidon', :target => '_blank'%>
<%=link_to image_tag('linkedin.png', class: 'contactimg'), 'www.linkedin.com/in/justinckyee', :target => '_blank'%>
<%=link_to image_tag('email.png', class: 'contactimg'), 'mailto:jy243@cornell.edu', :target => '_blank' %>
</div>